.content-block
  &.center
    margin-bottom 15px
    text-align center

.item-block
  display inline-block
  max-width 320px

.menu-item
  display inline-block
  margin 5px
  width 128px
  height 128px
  background #656565
  border 1px solid #595959
  cursor pointer
  i
    display block
    margin 13px auto
    background-repeat no-repeat
    background-size contain
    background-position center
    vertical-align middle

.menu-cat
  display block
  line-height 32px
  letter-spacing 1px
  font-family 'Jaldi', sans-serif
  font-weight 700
  font-size 18px
  white-space nowrap
  text-align center
  text-transform uppercase

.content-block-title
  &.hurttitle
    font-family 'Jaldi', sans-serif
    font-weight 700
    font-size 22px
    color #fff
    text-transform uppercase
    text-shadow -1px -1px 0 #32383f, 1px -1px 0 #32383f, -1px 1px 0 #32383f, 1px 1px 0 #32383f
    background-color #5b6570
    margin 0px
    padding 16px

.hurtitems
  &.list-block
    .item-content
      background #656565
      color #fff
      border-bottom 1px solid #595959
      font-family 'Jaldi', sans-serif
      font-weight 700
      font-size 22px
      text-transform uppercase
      text-shadow -1px -1px 0 #32383f, 1px -1px 0 #32383f, -1px 1px 0 #32383f, 1px 1px 0 #32383f

.id
  display inline-block
  margin-right 10px
  width 50px

.iname
  display inline-block

.item-media
  i
    width 48px
    height 48px
    background-repeat no-repeat
    background-size contain
    vertical-align middle
    display inline-block;

.page-content
  background-color #5b6570

.item-img
  display inline-block
  float none

i
  width 64px
  height 64px
  background-repeat no-repeat
  background-size contain
  vertical-align middle
  display block

.details
  float right

.temperature, .info-fuel
  color #d3d3d3
  text-shadow 0px 1px 0px #485159

.rarity,
.type,
.stack,
.stacks
  font-size 15px
  font-weight bold
  text-align right
  height 18px
  text-transform uppercase
  text-shadow 0px 1px 0px #485159

.rarity
  color #d8d8da

.g
  color #288928

.b
  color #4e54ff

.bp
  color #4f4cf1

.rg
  color #32aa41

.rp
  color #8787dd

.type
  color #dc7276

.stack
  color #d8d8da

.desc
  font-size 14px
  text-align left
  color #E2A14F
  display block
  margin-bottom 2px
  text-shadow 0px 1px 0px #485159

.info
  font-size 13px
  text-align left
  display block
  margin-bottom 0px
  color #f5f5f5
  text-shadow 0px 1px 0px #485159
  margin-top 4px

.howtocraft
  display inline-block
  color #F5F5F5
  font-size 18px
  font-family 'Jaldi', sans-serif
  font-weight 700
  text-align left
  height 25px
  text-transform uppercase

.n, .damage
  color #fff
  font-size 24px
  font-family 'Jaldi', sans-serif
  font-weight 700
  text-shadow 0px 2px 0px #485159
  display inline-block
  height 20px
  line-height 20px

.damage
  margin-left 5px

.stats

.sn
  color #72BCF3
  font-size 12px
  text-shadow 0px 1px 0px #485159
  font-weight bold
  display block

.st
  margin-left 5px

.crafting
  margin 0 auto
  background-color #333
  width auto
  padding 5px 5px 10px
  max-width 300px

.materials
  color #DCDCDC
  font-size 14px
  line-height 20px
  display inline-block

.stationarea
  color #DCDCDC
  font-size 13px
  float right
  display block
  width 75px
  word-wrap break-word
  text-align center
  i
    width 40px
    height 40px
    background-size contain
    display block
    margin 6px auto

.ingredients-holder
  width 200px
  display block
  i
    width 64px
    height 64px
    background-repeat no-repeat
    background-size 64px 64px
    margin-right 0px
    margin-bottom 0px
    margin-top 3px
    line-height 60px
    vertical-align middle
    display inline-block

.ingredient
  display inline-block

.limit
  position relative

.qnt
  color white
  position absolute
  bottom -4px
  right 4px
  font-family 'Helvetica'
  font-size 17px
  font-weight bold

.menu-item
  color black
  &.active
    color white
